*.aar
*.so
.aiignore
.idx/
.vscode/
.idea/
.gradle/
build/
obj/
*.iml
local.properties
local.properties.b64
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
